@font-face {
  font-family: Mercy;
  src: url(fonts/MERCY.otf);
}

body {
  background-color: black;
  font-family: Garamond, serif;
  margin: 0.5rem 1rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

.key {
  position: sticky;
  top: 0;
}

.key ul {
  list-style-type: none;
  text-align: right;
}

/* Index page */
.game-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.25rem white solid; */
}

.character-box {
  image-rendering: pixelated;
  margin-top: 20vh;
  margin-bottom: 4vh;
  width: 70vw;
  height: 40vh;
  /* border: 1px solid orange; */
  background-image: url('images/undertale-logo-full.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.character-box:has(+ .index-nav:hover a.about-button:hover) {
  background-image: url('images/Froggit_battle_idle.gif');
  background-size: 20%;
  background-position: center;
}

.character-box:has(+ .index-nav:hover a.research-button:hover) {
  background-image: url('images/undertale-alphys.gif');
  background-size: 30%;
  background-position: center;
}

/* .gif {
  image-rendering: pixelated;
  margin-top: 20vh;
  margin-bottom: 2vh;
  width: 70vw;
  /* border: 0.25rem white solid;} */

.index-nav {
  width: 80vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5vh;
  /* border: #006B4D 1px solid; */
}

.index-nav a {
  text-decoration: none;
  border: 0.25rem solid #e58602;
  padding: 0 0.5rem;
  font-family: Mercy;
  font-size: 2rem;
  font-weight: bold;
}

.index-nav a:hover {
  color: #FFFF00;
  border-color: #FFFF00;
}

/* ---- */


.battleSelection {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

a {
  color: #e58602;
  font-weight: bold;
  transition: .2s;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  margin-bottom: 0.125rem;
}

h2 {
  color: white; 
  font-size: 1.25rem;
}

p {
   color: white;
}

li {
    color: white;
    font-size: 1.25rem;
}

img{
 width: 40%
}

img#FriskFlowers
{
    width: 30%;
}
div.flex
{
    display: flex;
    padding-left: 25em;
}

/* Character page styling */
.content h2 {
  text-decoration: underline;
}

.content p {
  text-indent: .5rem;
  
}

.content div {
  margin-top: 2rem;
}

.sceneBox {
  border: 0.125rem solid white;
  padding-left: 1rem;
}

.altSceneBox {
  border: 0.125rem solid #e58602;
  padding-left: 1rem;
}

.index-content h1{
 text-align:center;
  font-size: 1.75rem;
  color:orange;
}
.index-content h2{
  text-align:center;
    font-size: 1.5rem;
}
.index-content p{
  text-align:left;
  width:50vw;
  font-size: 1.5rem;
}
.index-content{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.MK{
  border-color:white;  
}
.UN{
  border-color:blue;  
}
p.one {
  border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;
  border-color: blue;
}
p.two{
   border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem; 
  border-color: blue;
}
p.three{
   border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;  
  border-color: blue;
}
p.four{
  border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;  
  border-color: blue;
}
