@font-face {
  font-family: 'DeterminationDialogue';
  src: url('fonts/DeterminationMonoWeb.woff');
}

@font-face {
  font-family: Mercy;
  src: url(fonts/MERCY.otf);
}

body {
  background-color: black;
  font-family: Garamond, serif;
  margin: 0.5rem 1rem;
}

.navbar a:nth-child(1) {
  color: #fff;
  font-size: 1.9rem;
}

.navbar a.current-page {
  border-color: #FFFF00;
  color: #FFFF00;
}

.navbar {
  column-gap: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.65rem;
}

.navbar a {
  text-decoration: none;
  border: 0.25rem solid #e58602;
  padding: 0 0.5rem;
  font-family: Mercy;
  font-size: 1.35rem;
  font-weight: bold;
}

.navbar a:hover {
  color: #FFFF00;
  border-color: #FFFF00;
}

.res-content{
  & a {
    font-size: 1.25rem;
  }
  & h1 {
    line-height: 1.75rem;
  }
}

/* .fileName {font-size: 8px;} */
/* .label-text {color: white;} */

/* Research Section */
.battleSelection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 0.75rem;
  align-items: center;
  /* padding-left: 0.5rem; */
  justify-content: space-evenly;
  width: 100vw;
  transform: translateX(-7rem);
  
  & .res-row-one {
    display: flex;
    justify-content: space-evenly;
    gap: 15vw;
  }
  & .res-row-two {
    display: flex;
    justify-content: space-evenly;
    gap: 15vw;
  }

  & div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    height: 13rem;
    justify-content: end;

    & a {
      white-space: nowrap;
      height: 70%;
      width: auto;
    }
    
    & img {
      width: auto;
      padding-bottom: 1rem;
      height: 100%;
    }
  }
}

figure {
  width: 40vw;
}

figcaption {
  color: white;
}

.research-imgs {
  display: flex;
  flex-wrap: wrap;
}

.research-imgs img {
  width: 40vw;
}

a {
  color: #e58602;
  font-weight: bold;
  transition: .2s;
}

a:hover {
  color: white;
}

h1, h2, h3, a, p {
  font-family: DeterminationDialogue;
}

h1 {
  color: white;
  margin-bottom: 0.125rem;
  padding-bottom: 0.1rem;
  border-bottom: solid;
  border-color: orange;
  width: fit-content;
}


h2 {
  color: white; 
}

p {
   color: white;
   
}

li {
    color: white;
}

img{
 width: 40%
}

/* Character page styling */
.content h2 {
  text-decoration: underline;
}

.content p {
  text-indent: .5rem;
}

.content div {
  margin-top: 2rem;
}

p.one {
  border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;
  border-color: blue;
}
p.two{
   border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem; 
  border-color: blue;
}
p.three{
   border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;  
  border-color: blue;
}
p.four{
  border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;  
  border-color: blue;
}

.altSceneBox {
  border: 0.125rem solid #e58602;
  padding-left: 1rem;
}
.labCreature
{
  border: 0.125rem solid #006B4D;
  padding-left: 1rem;
}
.grid-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:20px;
    padding:20px
}
.grid-sources{
    display:grid;
    grid-template-columns:0.5fr 0.5fr;
    grid-template-rows:0.5fr 0.5fr;
    gap:10px;
    padding:10px
}
.grid-item{
    text-align:center;
}
.grid-item img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* .sevegies1 {
  display: flex;
  width: 50vw;
  justify-content: start;
} */