@font-face {
  font-family: Mercy;
  src: url(fonts/MERCY.otf);
}

body {
  background-color: black;
  font-family: Garamond, serif;
  margin: 0.5rem 1rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

/* Index page */
.game-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.25rem white solid; */
}

.gif {
  image-rendering: pixelated;
  margin-top: 20vh;
  margin-bottom: 2vh;
  width: 70vw;
  /* border: 0.25rem white solid; */
}

.index-nav {
  width: 80vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5vh;
  /* border: #006B4D 1px solid; */
}

.index-nav a {
  text-decoration: none;
  border: 0.25rem solid #e58602;
  padding: 0 0.5rem;
  font-family: Mercy;
  font-size: 2rem;
  font-weight: bold;
}

.index-nav a:hover {
  color: #FFFF00;
  border-color: #FFFF00;
}

/* ---- */


.battleSelection {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

a {
  color: #e58602;
  font-weight: bold;
  transition: .2s;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  margin-bottom: 0.125rem;
}

h2 {
  color: white; 
  font-size: 1.25rem;
}

p {
   color: white;
}

li {
    color: white;
    font-size: 1.25rem;
}

img{
 width: 40%
}

img#FriskFlowers
{
    width: 30%;
}
div.flex
{
    display: flex;
    padding-left: 25em;
}

/* Character page styling */
.content h2 {
  text-decoration: underline;
}

.content p {
  text-indent: .5rem;
}

.content div {
  margin-top: 2rem;
}

.sceneBox {
  border: 0.125rem solid white;
  padding-left: 1rem;
}

.altSceneBox {
  border: 0.125rem solid #e58602;
  padding-left: 1rem;
}
.labCreature
{
  border: 0.125rem solid #006B4D;
  padding-left: 1rem;
}