body {
  background-color: black;
  font-family: Garamond, serif;
  margin: 0.5rem 1rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

a {
  color: #e58602;
  font-weight: bold;
  transition: .2s;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  margin-bottom: 0.125rem;
}

h2 {
  color: white; 
  font-size: 1.25rem;
}

p {
   color: white;
}

li {
    color: white;
}

img{
 width: 40%
}