body {
  background-color: black;
  font-family: Garamond, serif;
}
a {
  color: red;
  font-weight: bold;
}
h1 {
  color: white;
}
h2 {
  color: white; 
}
p {
   color: white;
}
li {
    color: white;
}
img{
 width: 40%
}

.navbar {
  display: flex;
  gap: 0.5rem;
}