body {
  background-color: black;
  font-family: Garamond, serif;
  margin: 0.5rem 1rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

.battleSelection {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

a {
  color: #e58602;
  font-weight: bold;
  transition: .2s;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  margin-bottom: 0.125rem;
  padding-bottom: 0.1rem;
  border-bottom: solid;
  border-color: orange;
  width: fit-content;
}


h2 {
  color: white; 
}

p {
   color: white;
   
}

li {
    color: white;
}

img{
 width: 40%
}

/* Character page styling */
.content h2 {
  text-decoration: underline;
}

.content p {
  text-indent: .5rem;
}

.content div {
  margin-top: 2rem;
}

p.one {
  border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;
  border-color: blue;
}
p.two{
   border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem; 
  border-color: blue;
}
p.three{
   border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;  
  border-color: blue;
}
p.four{
  border-bottom: dotted;
  border-width: thick;
  padding-left: 1rem;  
  border-color: blue;
}

.altSceneBox {
  border: 0.125rem solid #e58602;
  padding-left: 1rem;
}
.labCreature
{
  border: 0.125rem solid #006B4D;
  padding-left: 1rem;
}
.grid-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:20px;
    padding:20px
}
.grid-sources{
    display:grid;
    grid-template-columns:0.5fr 0.5fr;
    grid-template-rows:0.5fr 0.5fr;
    gap:10px;
    padding:10px
}
.grid-item{
    text-align:center;
}
.grid-item img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sevegies1 {
  width: 50vw;
}